*{
	margin:0px;
	padding:0px;
}

@font-face{
	font-family:apple;
	src:url('../font/Monaco+YaHei.ttf');
}

body{
	background-color: #efefef;
}

#wrap_page_title{
	height:120px;
	background-color:#1E90FF;
	box-shadow:0px 10px 10px #aaa;
}
#page_title{
	height:110px;
	padding-top:10px;
	width:1000px;
	margin:auto;
	background-color:#1E90FF;
}
#page_title h1{
	padding-left:30px;
	font-family: Monotype Corsiva;
	color:white;
	height:100px;
	line-height:100px;
	text-align:center;
	font-size: 4em;
}


#btn_add_a_new_session{
	cursor: pointer;
	position: fixed;
	width: 120px;
	height: 120px;
	background-color: mediumpurple;
	right: 20px;
	top: 300px;
	border-radius:25px;
	font-family: cursive;
	color: #ffffff;
	text-align: center;
	transition:background-color 0.5s;
	box-shadow: 7px 7px 20px #555;
}

#btn_add_a_new_session p:first-child{
	height: 70px;
	line-height: 90px;
	font-size: 35px;
	font-weight: 900;
}
#btn_add_a_new_session:hover{
	background-color: #7f4eb8;
	transition:background-color 0.5s;
}

#wrap_page_content{
	width:1000px;
	margin:auto;
}
.div_session{
	position: relative;
	background-color: #fff;
	width: 1000px;
	box-shadow: 5px 5px 25px #aaa;
	border-radius: 5px;
	margin: 50px 0px 50px 0px;
}
.wrap_session_content{
	width: 800px;
	margin: auto;
	padding: 50px 0px 50px 0px;
}
.label_session{
	position: absolute;
	left: -120px;
	top:20px;
	background-color: #3581ff;
	color: #ffffff;
	width: 100px;
	padding-left:20px;
	height: 50px;
	line-height: 50px;
	border-radius: 10px 0px 0px 10px;
	font-family: apple;
}
.div_close{
	position: absolute;
	right:  1px;
	top: 1px;
	width: 40px;
	height: 20px;
	line-height: 22px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background-image: -moz-linear-gradient(top,#ccc,#aaa);
	background-image: -webkit-linear-gradient(top,#ccc,#aaa);
	text-align: center;
	cursor: pointer;
}
.div_close:hover{
	background-image: -moz-linear-gradient(top,#f33,#e00);
	background-image: -webkit-linear-gradient(top,#f33,#e00);
}
.div_test,.div_run{
	overflow: hidden;
	height: 50px;
}

.div_check{

}
.div_add{
	height: 50px;
}
.btn_add{
	float: left;
	background-color: #3581ff;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	color: #fff;
	font-family: apple;
	width: 300px;
	text-align: center;
	margin: 0px 40px 0px 40px;
}

.input{
	float: left;
	width: 500px;
	font-size: 20px;
	padding-left: 5px;
	font-family: apple;
}
.label{
	float: left;
	background-image: -moz-linear-gradient(top,#aaa,#333);
	background-image: -webkit-linear-gradient(top,#aaa,#333);
	color: #fff;
	width: 80px;
	border-radius: 15px 0px 0px 15px;
	font-family: apple;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
}
.input,.label{
	height: 35px;
	line-height: 35px;
}
.choice_with_check{
	float: left;
	height: 35px;
	line-height: 35px;
}
.choice_with_check input{
	margin-top: 12px;
	float: left;
	margin-right: 5px;
}
.choice_with_check p{
	float: left;
	font-size: 10px;
	font-family: apple;

}
.btn_execute{
	float: left;
	height: 35px;
	width: 70px;
	margin: 0px 10px 0px 20px;
}
.btn_execute p{
	height: 25px;
	line-height: 25px;
	background-image: -moz-linear-gradient(top,#eee,#ccc);
	background-image: -webkit-linear-gradient(top,#eee,#ccc);
	font-family: apple;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	font-size: 10px;
	margin: 5px 0px 5px 0px;
	border: 2px solid #ddd;
}
.btn_execute p:active{
	background-image: -moz-linear-gradient(top,#ccc,#eee);
	background-image: -webkit-linear-gradient(top,#ccc,#eee);
}